[submodule "lwip"]
	path = lwip
	url = https://github.com/ssrg-vt/LwIP.git
	branch = llvm-stable
[submodule "usr/libomp"]
	path = usr/libomp
	url = https://github.com/hermitcore/libomp_oss.git
	branch = hermit
